.flipd {
	width: 100%;
	height: 800px;
	// 	padding: 20px;
	// 	margin: auto;
	// 	background-color: aquamarine;

	.flip-items {
		// width: 200px;
		// 		padding: 25px;
		// 		// background-color: $gray1;

		img {
			width: 400px;
			// height: auto;
		}
	}
}
