$rad0: 2.75rem;
$offset0: 1rem;

$gray0: hsl(0, 0%, 20%);
$gray1: hsl(0, 0%, 33%);
$gray4: hsl(0, 0%, 75%);
$gray5: hsl(0, 0%, 95%);

$green1: rgb(140, 198, 63);
$green1b: rgb(138, 186, 74);

$green2: rgb(108, 157, 48);
$green3: rgb(69, 110, 28);
$green1t90: rgba(140, 198, 63, 0.9);
$green1bt90: rgba(138, 186, 74, 0.9);
$green2t90: rgba(108, 157, 48, 0.9);
$green3t90: rgba(69, 110, 28, 0.9);
$shadow: 0.2rem 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.35);
$shadow1: 0.3rem 0.35rem 0.35rem 0 rgba(0, 0, 0, 0.35);
$shadow-in: inset $shadow;
$glow: 0 0 0 0.25rem rgba(255, 255, 255, 0.85);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto Condensed";
	font-size: 11pt;
}

body {
	background-color: $gray5;
	display: flex;
	flex-direction: column;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;

	.shadow {
		box-shadow: $shadow;
	}
	.shadowin {
		box-shadow: $shadow-in;
	}

	// Raio à esquerda
	.Lrad {
		border-radius: $rad0 0 $rad0 0;
	}

	// Raio à direita
	.Rrad {
		border-radius: 0 $rad0 0 $rad0;
	}

	h3 {
		font-size: 1.35rem;
		font-weight: 500;
	}

	.N0 {
		font-size: 1.2rem;
		line-height: 1.75rem;
		font-weight: 500;
		margin-top: $offset0;
		padding-left: $offset0;
		// font-variant-caps: small-caps;
	}

	.N1 {
		font-size: 1.1rem;
		line-height: 1.6rem;
		font-weight: 500;
		padding-left: 2 * $offset0;
		// font-variant-caps: small-caps;
	}

	//Imagem de fundo
	.background {
		display: float;
		z-index: -1;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.1;
		align-items: center;
		justify-content: center;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			// filter: blur(5px);
			// -webkit-filter: blur(5px);
			-webkit-transform: scaleX(-1);
			transform: scaleX(-1);
		}
	}

	// Wrapper geral do conteúdo do site
	#main-wrapper {
		display: grid;
		grid-template-columns: 230px auto;
		grid-template-rows: 50px 1400px;
		column-gap: 40px;
		row-gap: 20px;
		margin: 1rem 2rem;
		width: 90%;
		max-width: calc(100% - 1em);

		//Barra de Cabeçalho
		#div-header {
			grid-column-start: 1;
			grid-column-end: 3;
			grid-row: 1;
			display: flex;

			//Barra de Título
			#div-title {
				display: grid;
				justify-content: right;
				grid-template-columns: repeat(3, auto);
				align-items: center;
				height: 3.5rem;
				background-color: $gray0;
				width: 100%;

				//Logotipo da Ekipar
				#img-logo-texto {
					height: 2rem;
					grid-column: 2;
					position: relative;
					top: -0.95em;
				}

				//Logomarca da Ekipar
				#img-logo-cubo {
					height: 5.4rem;
					grid-column: 3;
					position: relative;
					top: -0.9rem;
					padding-right: 3rem;
					padding-left: 0.5rem;
				}
			}
		}
		//DIV da barra de navegação lateral
		#div-nav {
			grid-column: 1;
			grid-row-start: 2;
			grid-row-end: 3;
			display: flex;
			padding-bottom: 3rem;

			//Barra lateral estilizada
			#navbar {
				height: 100%;
				padding: 2.5rem 0;
				padding-left: 0.5rem;
				display: flex;
				flex-direction: column;
				color: $gray5;
				background-color: $gray0;
				width: 100%;
				font-weight: 400;
				// font-variant-caps: small-caps;

				//Botões tab
				button {
					// display: block;
					width: 200px;
					text-align: left;
					background-color: inherit;
					color: $gray5;
					// padding: 0 $margin0;
					border: none;
					outline: none;
					text-align: left;
					cursor: pointer;
					transition: 0.35s;

					&:hover {
						// background-color: $green3t90;
						background-color: $gray1;
					}

					&.active {
						color: black;
						text-transform: uppercase;
						// font-variant-caps: inherit;
						background-color: $green1b;
						// padding-left: 1rem;
						padding: 0;
						text-align: center;
						width: 240px;
						line-height: 2rem;
						font-size: 1.2rem;
						font-weight: 700;
						float: left;
						position: relative;
						border-radius: $rad0 0 $rad0 0;
						box-shadow: $shadow1;
					}
				}
			}
		}

		//DIV do conteúdo da página
		#div-content {
			grid-column: 2;
			grid-row: 2;
			width: 100%;

			/* DIV  - A EMPRESA */
			#aempresa {
				display: flex;
				flex-direction: column;
				padding: 5rem 10px;
				justify-content: center;
				align-content: center;
				// margin: 0 auto;

				.biglogo {
					width: 100%;
					img {
						display: block;
						margin-left: auto;
						margin-right: auto;
						width: 90%;
						max-height: 150px;
					}
				}
			}

			/* DIV - CONTATO */
			#local {
				/* CARTÃO DE VISITA */
				.card {
					background-color: $gray0;
					color: $gray5;
					max-width: 560px;
					min-height: 120px;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-around;
					border-radius: 5px;
					box-shadow: $shadow;
					margin: 2rem 1rem;

					/* FOTO */
					&-img {
						width: 16%;
						// height: 80px;
						// background-color: $gray4;
						// box-shadow: $glow;

						border-radius: 50%;
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-items: center;

						img {
							// width: 85%;
							width: 100%;
							border-radius: 50%;
							margin: auto;
						}
					}

					/* TEXTO: NOME E TÍTULO */
					&-text {
						width: 48%;
						strong {
							font-size: 1.5rem;
							line-height: 2.5rem;
							font-weight: 700;
						}
						p {
							font-size: 1rem;
							line-height: 1.2rem;
							text-align: justify;
							margin: 5px auto 15px auto;
						}
					}

					/* BOTÃO LINKEDIN */
					&-in {
						width: 24%;
						height: 40px;
						border-radius: 3px;
						transition: all 0.25s;
						display: flex;
						flex-direction: row;
						align-items: center;
						text-align: center;
						// margin: 12px;

						a {
							img {
								// overflow: auto;
								max-width: 85%;
								max-height: 85%;
							}
						}

						&:hover {
							background-color: $gray1;
						}
					}
				}
			}

			.box-title {
				width: 100%;
				// background-color: $gray4;
				background-image: linear-gradient(to right, $green1b, $gray5);
				font-size: 1.5rem;
				border-radius: 1.5rem;
				font-weight: 700;
				// padding: 2.5rem, 0;
				padding-left: 2rem;
				line-height: 2.5rem;
				margin-bottom: 1rem;
			}

			.box1 {
				background-color: $gray5;
				border-radius: $rad0 0 $rad0 0;
				width: 100%;
				text-align: justify;
				font-size: 1.25rem;
				padding: 2rem;
				box-shadow: 0.2rem 0.25rem 0.5rem 0.25rem rgba(0, 0, 0, 0.35);

				p {
					font-size: 1.2rem;
					line-height: 1.5rem;
				}

				strong {
					font-size: 1.35rem;
					font-weight: 600;
					font-variant-caps: small-caps;
				}
			}
		}
	}

	//DIV da tarja inferior
	#div-footer {
		display: block;
		width: 100%;
		height: 2.5rem;
		background-color: $green1t90;
		color: $green3;
		margin-top: 200px;
		position: fixed;
		bottom: 0px;
		text-align: center;
		align-content: center;
		align-items: center;
		line-height: 2.5rem;
		// font-variant-caps: small-caps;

		strong {
			font-size: 1.2rem;
			font-weight: 500;
		}
	}
}

//DIV whatsapp da Ucelo
.whats-float {
	width: 80px;
	height: 80px;
	position: fixed;
	bottom: 1%;
	margin-top: -40px;
	right: 30px;
	display: block;
	z-index: 99;
	border-radius: 50%;
}
.whats-float:before {
	width: 100%;
	height: 100%;
	background: #29b53f;
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	display: block;
	border-radius: 50%;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
.whats-float:after {
	width: 50px;
	height: 50px;
	position: absolute;
	content: "";
	background: url(../images/whats.svg) no-repeat center;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
}
.box-texto-whats {
	width: 0;
	height: 60px;
	background: #29b53f;
	border-radius: 30px;
	box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	right: 40px;
	z-index: -1;
	overflow: hidden;
}
.box-texto-whats > span {
	color: #fff;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	width: 300px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
	padding-right: 30px;
	line-height: 1em;
	transform: translateX(100px);
}
.box-texto-whats > span > strong {
	font-weight: 700;
	font-size: 23px;
	line-height: 1em;
}
.whats-float:hover .box-texto-whats {
	width: 300px;
}
.whats-float:hover .box-texto-whats > span {
	transform: translateX(0);
	transition-delay: 0.1s;
}
.box-texto-whats,
.box-texto-whats > span,
.whats-float:hover .box-texto-whats,
.whats-float:hover .box-texto-whats > span {
	-webkit-transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
	-moz-transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
	-o-transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
	-webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	-moz-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	-o-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
